<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Голосовой помощник</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Голосовой помощник</h1>


  <div class="middle-content">
    <p id="result"></p>
  </div>

    <div class="button-row">
      <button id="start-btn" onclick="startRecognition()">Начать запись</button>
      <button id="stop-btn" onclick="stopRecognition()" disabled>Остановить</button>
    </div>
  </div>

  <script>
    function startRecognition() {
      recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
      recognition.lang = 'ru-RU';
      recognition.continuous = true;
      recognition.interimResults = false;

      recognition.start();

      document.getElementById('result').innerText = '';
      document.getElementById('start-btn').disabled = true;
      document.getElementById('stop-btn').disabled = false;

      recognition.onresult = function(event) {
        const text = event.results[0][0].transcript;
        document.getElementById('result').innerText = 'Распознано: ' + text;
      };
    }
    function stopRecognition() {
      if (recognition) {
      recognition.stop();
      document.getElementById('start-btn').disabled = false;
      document.getElementById('stop-btn').disabled = true;
      }
    }
  </script>
</body>
</html>
